.container {
    max-width: 1000px !important;
    margin: auto !important;
}

.dataTables_wrapper .dt-buttons {
    float: left !important;
}

.dataTables_length {
    float: right !important;
    margin-right: 20px !important;
}

.dataTables_filter {
    float: right !important;
}

.dataTables_wrapper {
    width: 100% !important; 
    overflow-x: auto !important;
}

.table-responsive {
    width: 100% !important;
    overflow-x: auto !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 01px !important;
}

#mytable_filter {
    float: left !important;
    margin-right: 20px !important;
    margin-top: 20px;
}

#mytable_filter label{
display: flex;   
margin-bottom:  20px !important;
float: left !important;
margin-right: 20px !important;
}

#mytable_filter label input{
    float: left !important;
    text-align: left !important;
    margin-right: 20px !important;
    width: 250px !important;
}

#mytable_filter label::before {
    content: '' !important;
}

.status-ativo {
    color: white;
    background-color: rgb(51, 170, 51);
    padding: 4px 12px;
    border-radius: 20px;
    display: inline-block; 
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    min-width: 80px;
    white-space: nowrap;
}

.status-inativo {
    color: white;
    background-color: rgb(235, 43, 43);
    padding: 4px 12px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 1.4;
    min-width: 80px;
    white-space: nowrap;
}

.status-finalizado {
    color: white;
    background-color: rgb(51, 170, 51);
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 13px;
}

.status-cancelado {
    color: white;
    background-color: rgb(100, 11, 85);
    padding: 5px 10px;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 13px;
}